body {
width:100%;
height:100% ;
}

header nav ul {
  display: flex;
  float: right;
  margin-right: 10%;
}

/*Elements of the navigation block
(About, Team, Events, Contact form)*/
header nav ul li {
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  list-style-type: none;
}

header nav ul li a, header nav ul li a:visited {
  color: white;
  text-decoration: none;
}

header nav ul li a:hover {
  background-color: white;
  color: black;
}

/*Header of the page
contains the navigation block and the logo*/
header {
  height: 480px;
  background:
    /*transparent black covering the background image*/
    linear-gradient(rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.80)),
    /*background image*/
    url(images/header_Background.jpg);
  background-size: cover;
}

/*Div of the header containing the logo
Width and Height are set to correspong to the size of
	the image it contains i.e. the logo
Paddings top and bottom are set as to correspond to the height of the
	height of the header [padding=(height of header/4]*/
#logo {
  width: 284px;
  height: 214px;
  padding-top: 120px;
  padding-bottom: 120px;
  margin: auto;
}

/*Logo contained in header
Specify size here*/
#logo img {}

footer {
  background-image: url(images/swirl_pattern.png);
  padding-top: 20px;
  padding-bottom: 55px;
}

/*Div contained by footer
This Dic contains the icons for external links (LinkedIn, Instagram, Twitter, Facebook)
*/
.footer-icons {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

/*Images representing the external links of the div (.footer-icons)
contained in the footer*/
.footer-icons img {
  height: 33px;
  width: 33px;
  border-radius: 50%;
  padding-left: 20px;
  padding-right: 20px;
}

footer h1 {
  text-align: center;
}


/* Tout le code ci-dessous devrait être commun à tout le monde */

@font-face {
  font-family: 'Titre';
  src: url('fonts/Comfortaa-Regular.ttf') format('truetype');
}

@font-face {
   font-family: 'Texte';
  src: url('fonts/Cinzel-Regular.ttf') format('truetype')
 }


h1 {
  font-family: "Titre";
  font-size: 250%;
  font-weight: lighter
}

p {
  font-family: "Texte"
    text-transform:lowercase;
  color: #A9A9A9;
}

/* Contenair Reda*/
#Presentation {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10%;
  width: 65%;
  position: relative;
}

/* Image */
#img1 {
  float: left;
  top: 20px;
  margin-right: 5%;
}

/* Titre */
#whoweare {
  padding-top: 5%;
  position: relative;
}

/* Barre en dessous du titre */
#whoweare1 hr {
  width: 215px;
  margin-left: 49%;
  margin-top: -2%;
  border: 2px solid #B22222;
  border-width: 3px;
  position: absolute;
}

/* Case à coté de l'image */
#best {
  background-color: #B22222;
  border-style: solid;
  border-color: white;
  position: absolute;
  left: -80px;
  top: 30px;
  color: white;
  padding: 5px;
}

/* Paragraph 1 et 2 */
#par1 {
  margin-top: 19%;
}

#par2 {
  margin-top: 5%;
}

/* CSS Reda fin*/

/*CSS VICTOR DEBUT      */
/*Section BODY starts now         */
body {
  height: 100%;
  width: 100%;
  lenghth: 100%;
}

.block1 {
  display: flex;
  padding: 80px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.block2 {
  display: flex;
  padding: 80px;
  padding-top: 20px;
}

.team {
  padding: 80px;
}

.title {
  padding: 60px;
}

.text-uppercase {
  font-family: 'Comfortaa';
  font-size: 43px;
  position: relative;
  padding: 5px;
  text-align: center;
}

.team .title hr {
  margin-top: -35px;
  margin-bottom: -50px;
  width: 200px;
  margin-left: 420px;
  border: solid #B22222;
  border-width: 2px;
}

.team-member1 h2, .team-member2 h2, .team-member3 h2, .team-member4 h2 {
  float: left;
  font-family: 'Comfortaa';
  text-transform: uppercase;
  color: rgb(239, 247, 241);
  font-size: 12px;
  font-weight: 50;
  padding-right: 15px;
  padding-bottom: 2px;
  padding-left: 8px;
  padding-top: 3px;
  width: 30px;
  background-color: #B22222;
}

p {
  display: run-in;
  font-family: 'Comfortaa';
  color: rgb(178, 172, 181);
  font-size: 10px;
}

.team-member1 {
  display: left;
  float: right;
  padding-right: 40px;
  padding-left: 80px;
}

.team-member2 {
  padding-right: 40px;
  padding-left: 80px;
}

.team-member3 {
  display: left;
  padding-right: 40px;
  padding-left: 80px;
}

.team-member4 {
  padding-right: 40px;
  padding-left: 80px;
}

img {
  float: left;
}
/*CSS VICTOR FIN      */

/****************************************CSS LOUISE     ***************/

#Events{
width: 100%;
height:100%;
}

#ligne-un {
  width: 100%;
  height: 200px;
  background-color: white;
  display: flex;
}

#ligne-un img{
  width:45%}

#photo-gauche {

  width: 50% ;
  height: 100% ;
  float: left;}

#photo-gauche img{
    float:right;
  }

#our hr {
  margin-top: -35px;
  border-width: 2.5px;
  width: 260px;
  margin-left: 25px;
  color: #B22222;
}

#our {
  width: 25%;
  height: 100% ;
  font-family: "Titre";
  margin-left: 100px;
  font-size: 125%;
  margin-top: -30px;
}

#photo-droite{
  width: 50% ;
  height: 100% ;
  float: right;
 }

#ligne-deux{
  padding-left: 345px;
  width: 100%;
  height: 600px;
  background-color: #0000;
  display: flex; }

#ligne-deux aside {
  width: 16%;
  height: 350px;
  margin: 120px 60px;
  box-shadow: 0px 3px 8px 1.5px #D8D8D8;
  text-align: center;
  text-transform: lowercase;
  font-family: 'Open Sans', sans-serif;
}

#titre {
width: 100%;
height: 10%;
background-color: #B22222;
margin: 0 0;
border-color: #B22222;
color: white;
padding-top: 8px;
padding-top: 6px;

}

#mois {
  color: #81DAF5;
  font-size:20px;
}

#jour {
  margin-top: -5px;
}

#theme {
  font-size:15px;
  margin-top: -5px;
  font-weight: lighter;
}

#corps{
  margin : 0px 25px;
  color: #A9A9A9;
}
/****************************************CSS LOUISE FIN  ***************/


/****************************************CSS Form debut***************/
/*div containing title and underscore of the section 'form-section'*/
#form-title{
	position:relative;
}
/*hr is used as an underscore of the title of the form.
This allows to position it according to the maquette*/
#form-title hr{
	border: 2.5px solid #B22222;
	width: 192px;
	position: absolute;
	top:35px;
	left:3px;
}
form{
	max-width:80%;
	height:400px;
	margin: 60px auto 15px auto;
}
/*The form contains a div for each label element and its input box
(Name, Firstname, E-mail and Description)*/
form div{
	margin-bottom: 25px;
	width:50%;
	float:left;
}
form div label{
	float:left;
	top:0px;
	width:100%;
	margin-bottom:10px;
}
form div input, form div textarea{
	width:70%;
	top:40px;
}
form div input, form div textarea, form div button{
	border-radius: 10px;
	border: 1px solid #B22222;
}
form #form-description{
	width:100%;
	height:40%;
}
#form-description textarea{
	height:70%;
}
#form-mail, #form-description, #form-button{
	clear:both;
}
form #form-button{
	width:100%;
	margin-left:28%;
}
#form-button button{
	background-color: white;
	color:#B22222;
	width:90px;
	height:30px;
	text-transform: uppercase;
}
#form-button button:hover{
	background-color:#B22222;
	color:white;
}
.form-star{
	position:relative;
	top:5px;
}

/****************************************CSS Joseph form FIN***************/

